body {
    background-color: rgb(43, 41, 41);
}

nav {
    background-color: black;
}

.quadrado {
    background-color: orange;
    color: black;
    padding: 2px 10px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.preto {
            background-color: rgb(43, 41, 41);
            padding-top: 80px;
        }

       